## Imports

In [1]:
import pandas as pd

## Data import

In [49]:
data = pd.read_fwf("./Data/Calibration.txt")

## Line Spliting

In [50]:
data = data.iloc[5:]

In [51]:
data

                                  %OpenBCI Raw EEG Data
5     1, 76785.41, 48923.41, 90209.45, 55373.92, 470...
6     2, 153681.02, 97845.95, 181426.16, 111398.52, ...
7     3, 153630.63, 97853.54, 182178.42, 111263.02, ...
8     4, 153671.19, 97847.71, 181093.42, 111301.49, ...
9     5, 153653.94, 97859.22, 182519.22, 111378.00, ...
...                                                 ...
3996  24, 157803.09, 99122.36, 180521.33, 112237.96,...
3997  25, 157839.52, 99143.84, 183006.00, 112707.70,...
3998  26, 157791.05, 99120.95, 180298.11, 112126.20,...
3999  27, 157865.31, 99147.26, 183184.52, 112801.38,...
4000  28, 157784.13, 99127.79, 180161.67, 112041.09,...

[3996 rows x 1 columns]

In [62]:
data.columns = ["Data"]

In [63]:
data = data.Data.str.split(" ",expand=True,)

## Deleting the first column

In [70]:
del data[data.columns[0]]

## Now we only have the clean data!

In [73]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
5,"76785.41,","48923.41,","90209.45,","55373.92,","47085.25,","41531.75,","69362.24,","38339.86,","95465.44,","91919.83,",...,"111520.41,","136876.77,","101059.90,","102021.80,","187500.00,","0.000,","0.000,","0.000,","15:54:49.718,",1582746889718
6,"153681.02,","97845.95,","181426.16,","111398.52,","94177.15,","83054.38,","138732.44,","76662.86,","95461.70,","91964.02,",...,"112375.91,","136935.52,","101077.05,","102243.42,","187500.00,","0.000,","0.000,","0.000,","15:54:49.727,",1582746889727
7,"153630.63,","97853.54,","182178.42,","111263.02,","94188.82,","83070.48,","138750.28,","76689.28,","95470.53,","91925.28,",...,"111501.36,","136877.56,","101052.45,","102032.67,","187500.00,","0.000,","0.000,","0.000,","15:54:49.732,",1582746889732
8,"153671.19,","97847.71,","181093.42,","111301.49,","94198.23,","83071.35,","138757.45,","76684.18,","95474.16,","91991.62,",...,"112395.95,","136946.67,","101072.57,","102262.18,","187500.00,","-0.580,","0.730,","0.260,","15:54:49.743,",1582746889743
9,"153653.94,","97859.22,","182519.22,","111378.00,","94170.58,","83064.11,","138725.09,","76676.05,","95474.78,","91937.02,",...,"111515.84,","136875.38,","101047.80,","102009.58,","187500.00,","0.000,","0.000,","0.000,","15:54:49.752,",1582746889752